@page
@model P1_Ejercicios_RazorPage.Pages.Programa2Model
@{
}

<h1>Codificación de un mensaje</h1>

<form method="post">
    <p>Ingresa el mensaje: <input type="text" asp-for="mensaje" /></p>
    <p>Ingresa el valor de n: <input type="number" asp-for="n" /></p>
    <p><input type="submit" value="Calcular" /></p>

    @if (Model.res != "")
    {
        <div><strong>Mensaje cifrado = @Model.res</strong></div>
    }
</form>
